@media (max-width: 1324px) {
  // h1 {
  //   font-size: 4rem;
  // }
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    .hero {
      grid-column: 2/3;
      height: auto;
      height: 500px;
      img {
        height: 500px;
      }
    }
    .details {
      grid-row: 2/3;
      text-align: center;
      margin: 0;
      align-self: flex-start;
    }
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .nav-open .social .social-links img {
    padding: 0 10px;
  }
  .page {
    .hero {
      height: 380px;
      img {
        height: 380px;
      }
    }
  }
  .story,
  .work {
    grid-template-columns: 1fr;
    .description {
      order: -1;
      text-align: left;
      margin: auto;
    }
    .profile img {
      margin: auto;
    }
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
