.page {
  color: white;
}

.page-photographer {
  background: $photo-color;
  header .logo {
    color: $photo-color;
  }
  footer {
    background: $photo-color;
  }
}
.page-chef {
  background: $chef-color;
  color: white;
  header .logo {
    color: $chef-color;
  }
  footer {
    background: $chef-color;
  }
}

.page-barber {
  background: $barber-color;
  color: white;
  header .logo {
    color: $barber-color;
  }
  footer {
    background: $barber-color;
  }
}

.banner {
  height: 50vh;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  .author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgb(128, 128, 128);
    text-align: center;
    color: rgb(244, 244, 244);
  }
}

.work-container {
  background: white;
  color: black;
  padding: 4rem 0;
}
.story,
.work {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 50px 0;
  .description {
    width: 90%;
  }
  img {
    width: 100%;
  }
  .profile {
    display: flex;
    img {
      margin-left: auto;
    }
  }
}

.story {
  grid-template-columns: 2fr 1fr;
}

.work {
  grid-template-columns: repeat(2, 1fr);
  text-align: right;
  .description {
    margin-left: auto;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    a {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
      }
    }
    img {
      object-fit: cover;
      object-position: center;
      transition: all 0.5s ease;
      &:hover {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}
