@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

$photo-color: #212a4c;
$chef-color: rgb(85, 7, 26);
$barber-color: rgb(57, 57, 63);
$secondary-color: #121931;
$easing: cubic-bezier(0.5, 0.7, 0.4, 1);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3.5rem;
  padding: 1rem 0;
  font-weight: 400;
}

h3 {
  font-size: 2.5rem;
  padding: 2rem 0;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: 300;
}

.btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5em 2rem;
  margin: 2rem 0;
  background: white;
  font-size: 1.5rem;
  transition: all 1s ease;
  color: white;
}

.photographer .btn {
  background: $photo-color;
  &:hover {
    background: white;
    color: $photo-color;
  }
}
.chef .btn {
  background: $chef-color;
  &:hover {
    background: white;
    color: $chef-color;
  }
}
.barber .btn {
  background: $barber-color;
  &:hover {
    background: white;
    color: $barber-color;
  }
}
.content {
  color: white;
  background: radial-gradient(#2b3760, #0b1023);
  overflow-y: hidden;
  height: 100vh;
}
