@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3.5rem;
  padding: 1rem 0;
  font-weight: 400;
}

h3 {
  font-size: 2.5rem;
  padding: 2rem 0;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: 300;
}

.btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5em 2rem;
  margin: 2rem 0;
  background: white;
  font-size: 1.5rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: white;
}

.photographer .btn {
  background: #212a4c;
}

.photographer .btn:hover {
  background: white;
  color: #212a4c;
}

.chef .btn {
  background: #55071a;
}

.chef .btn:hover {
  background: white;
  color: #55071a;
}

.barber .btn {
  background: #39393f;
}

.barber .btn:hover {
  background: white;
  color: #39393f;
}

.content {
  color: white;
  background: radial-gradient(#2b3760, #0b1023);
  overflow-y: hidden;
  height: 100vh;
}

/* Page load animation */
.home-once {
  opacity: 0;
}

.home-once-active {
  -webkit-transition: opacity 1s linear 0.3s;
  transition: opacity 1s linear 0.3s;
}

.home-once-to {
  opacity: 1;
}

/* Slide left to home */
.home-leave {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home-leave-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.home-leave-to {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.home-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.home-enter-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  position: absolute;
  top: 0;
  z-index: 2;
}

.home-enter-to {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* Transition with cover screen */
.with-cover-leave-active,
.with-cover-enter-active,
.with-cover-leave-active .transition,
.with-cover-enter-active .transition {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.with-cover-leave .transition {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.with-cover-leave-to .transition {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.with-cover-enter .transition {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.with-cover-enter-to .transition {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

header.header-barber .logo,
header.header-photograph .logo,
header.header-chef .logo {
  color: black;
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 2rem;
  z-index: 2;
}

.menu {
  z-index: 2;
  cursor: pointer;
}

.nav-open {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  background: white;
  z-index: 1;
  color: #212a4c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.nav-open > div {
  height: 100px;
  margin: auto;
}

.nav-open .contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nav-open .social .social-links img {
  padding: 0 20px;
}

.page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.chef,
.barber {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.hero {
  overflow: hidden;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.hero a img {
  height: 500px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: pointer;
}

.hero a .model-right {
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
}

.hero a .model-left {
  -webkit-transform: translate(0%, -10%);
          transform: translate(0%, -10%);
}

.hero a:hover .model-right,
.hero a:hover .model-left {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 10rem 0;
}

.details p {
  padding: 20px 0 50px 0;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages h3 {
  padding: 3rem;
}

.pages .slide {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pages .slide:hover {
  -webkit-animation: dot 0.5s ease-in-out infinite alternate;
          animation: dot 0.5s ease-in-out infinite alternate;
}

.pages .slide.active {
  opacity: 1;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

.banner {
  height: 50vh;
  width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.banner .author {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  text-shadow: 2px 2px 2px gray;
  text-align: center;
  color: #f4f4f4;
}

.story,
.work {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.story .description,
.work .description {
  width: 90%;
}

.story img,
.work img {
  width: 100%;
}

.story .profile,
.work .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story .profile img,
.work .profile img {
  margin-left: auto;
}

.story {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.work {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: right;
}

.work .description {
  margin-left: auto;
}

.work .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.work .gallery a {
  width: 100%;
  height: 100%;
}

.work .gallery a img {
  height: 100%;
}

.work .gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1024px) {
  .page {
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page .hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: auto;
    height: 500px;
  }
  .page .hero img {
    height: 500px;
  }
  .page .details {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .nav-open .social .social-links img {
    padding: 0 10px;
  }
  .page .hero {
    height: 380px;
  }
  .page .hero img {
    height: 380px;
  }
  .story,
  .work {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .story .description,
  .work .description {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: left;
    margin: auto;
  }
  .story .profile img,
  .work .profile img {
    margin: auto;
  }
  .story .gallery,
  .work .gallery {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
